@model IEnumerable<Invoice>
    
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>InvoiceId</th>
            <th>InvoiceDate</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Commands</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.InvoiceId</td>
            <td>@item.InvoiceDate.ToString("yyyy-MM-dd")</td>
            <td>@item.Fullname</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>@item.Address</td>
         
             <td>
                <a href="/dashboard/invoice/delete/@item.InvoiceId" onclick="return confirm('Are you sure you want to delete this Invoice?');" class="btn btn-danger btn-sm"  >Delete</a>
                <a href="/dashboard/invoice/edit/@item.InvoiceId"  class="btn btn-warning btn-sm">Update</a>
               
            </td>
        </tr>
    }
    </tbody>
</table>
